/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
   --header-height: 3.5rem;

   /*========== Colors ==========*/
   /*Color mode HSL(hue, saturation, lightness)*/
   --first-color: hsl(0, 0%, 47%);
   --first-color-alt: hsl(46, 21%, 74%);
   --title-color: hsl(46, 21%, 74%);
   --text-color: hsl(0, 0%, 67%);
   --text-color-light: hsl(0, 0%, 65%);
   --black-color: hsl(0, 0%, 7%);
   --body-color: hsl(0, 0%, 6%);
   --container-color: hsl(0, 0%, 10%);

   /*========== Font and typography ==========*/
   /*.5rem = 8px | 1rem = 16px ...*/
   --body-font: 'Poppins', sans-serif;
   --second-font: "Alfa Slab One", serif;
   --biggest-font-size: 3rem;
   --bigger-font-size: 2rem;
   --big-font-size: 1.5rem;
   --h1-font-size: 1.5rem;
   --h2-font-size: 1.70rem;
   --h3-font-size: 1rem;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;

   /*========== Font weight ==========*/
   --font-regular: 400;
   --font-semi-bold: 600;
   --font-bold: 700;

   /*========== z index ==========*/
   --z-tooltip: 10;
   --z-fixed: 100;
   --z-modal: 1000;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
      --biggest-font-size: 6rem;
      --bigger-font-size: 3rem;
      --h1-font-size: 2.30rem;
      --h2-font-size: 2.00rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
   }
}

/*========== POP UP DESCRIP. ==========*/
@media screen and (min-width: 968px) {
   :root {
      --big-font-size: 1.75rem;
      --normal-font-size: 1rem;
   }
}
